header {
  position: relative;
  background-color: $color-dark;
  grid-row: 1/2;
  grid-column: 1/-1;

  nav {
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    display: grid;
    grid-column-gap: 2.4rem;
    grid-template-columns:
      minmax(2rem, 1fr) repeat(3, minmax(min-content, 112.8rem))
      minmax(2rem, 1fr);
    align-items: center;
    justify-content: space-around;
    .logo {
      grid-column: 2/3;
    }
    .navigation {
      text-align: center;
      grid-column: 3/4;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      @include media('<=768px') {
        display: none;
      }
      &-list {
        font-size: 1.6rem;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
    .social-icons {
      text-align: center;
      grid-column: 4/5;
      justify-self: end;
      @include media('<=768px') {
        display: none;
      }
      :not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }
}
