header {
  position: relative;
  background-color: $color-dark;
  grid-row: 1/2;
  grid-column: 1/-1;

  nav {
    background-color: rgba($color-dark, 0.9);
    height: 20vh;
    position: fixed;
    bottom: 2rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: grid;
    grid-column-gap: 2.4rem;
    grid-template-columns:
      minmax(2rem, 1fr) repeat(3, minmax(min-content, 112.8rem))
      minmax(2rem, 1fr);
    align-items: center;
    justify-content: space-around;
    .logo {
      grid-column: 2/3;
    }
    .navigation {
      text-align: center;
      grid-column: 3/4;
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      @include media('<=768px') {
        display: none;
      }
      &-list {
        font-size: 1.6rem;
        &:hover {
          // transform-origin: left center;
          // transform: scaleX(1);
        }
        a {
          color: white;
          text-decoration: none;
          transition: all 0.25s ease;
          &::after {
            content: '';
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 10px;
            height: 1px;
            transform: scaleX(0);
            transform-origin: right center;
            transition: transform 0.4s cubic-bezier(0.75, 0, 0.2, 1),
              -webkit-transform 0.4s cubic-bezier(0.75, 0, 0.2, 1);
            background-color: white;
          }
        }
      }
    }
    .social-icons {
      text-align: center;
      grid-column: 4/5;
      justify-self: end;
      @include media('<=768px') {
        display: none;
      }
      :not(:last-child) {
        margin-right: 2.4rem;
      }
    }
  }
}

.menu-icon {
  position: fixed;
  z-index: 11;
  right: 8%;
  top: 8%;
  display: flex;
  height: 100%;
  .bar {
    width: 50px;
    height: 2px;
    background: white;
    display: block;
    margin-bottom: 8px;
  }
  .bar-1 {
    width: 20px;
  }
  .bar-3 {
    width: 20px;
    margin-left: 50%;
  }
}

.menu-text {
  color: white;
  font-family: $Regular;
  font-size: 1.6rem;
  margin-right: 8px;
}
